.welcome-header{
    margin: 90px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
}
.welcome-header__text{
    width:60%;
    opacity: 0.7;
}

#login-form__input
{
    display: flex;
    flex-direction: column;
    margin:0px 30px;
    
}

#login-form input{
    border:none;
    padding:15px 0px;
    font-size:18px;
    margin-bottom: 25px;

}

#login-form input:not([type="submit"]){
    border-bottom:1px solid rgba(0,0,0,0.2);
    transition: border-color .3s ease-in-out;
}
#login-form input::placeholder
{
    color:rgba(0,0,0,0.4);
}

#login-form input:focus{
    border-color: var(--yellow);
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding:20px 100px;
    border-radius: 5px;
}

#login-form__a{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#login-form__a a{
    text-decoration: none;
    color:inherit;
    font-size: 13px;
    font-weight: 600;
    opacity: .8;
}

#login-form__a_column{
    width:33%;
}

#login-form__a_column:first-child{
    margin-left:30px;
}
#login-form__a_column:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top:3.5px;
}
#login-form__a_column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    margin-top:3px;
}