.more-screen .icon-row{
    justify-content: initial;
    width:480px;
    flex-wrap: wrap;
    margin-top:35px;
}
.more-screen .icon-row__icon{
    margin-right:20px;
    margin-bottom: 20px;
}

.more-suggestion{
    padding-top:30px;
    margin-top:20px;
    border-top: var(--main-border);
}
.more-suggestion__title{
    margin-bottom: 30px;
    font-weight: 600;
}
.more-suggestion__icons{
    display: flex;
}
.more-suggestion__icon{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:30px;
}
.more-suggestion__icon-image{
    border-radius: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    background-color: var(--yellow);
}
.more-suggestion__icon-image i{
    font-size:20px;
    color:white;
}