.badge{
    background-color: tomato;
    width:23px;
    height:23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 600;
}


.screen__header__badge{
    position:absolute;
    left:20px;
    bottom:20px;
    width:8px;
    height:8px;
}