.screen__header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:var(--horizontal-space);
    margin-bottom: 15px;
}

.screen__header__icons{
    display: flex;
}
.screen__header__icons span{
    margin-left:25px;
}

.screen__header__title{
    font-size:25px;
    font-weight: 600;
}

.screen__header__icons__setting{
    position: relative;
}